@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-gray-900 antialiased;
  }
}

/* Custom scrollbar for "Neural Feed" */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-default::-webkit-scrollbar {
    width: 6px;
}

.scrollbar-default::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-default::-webkit-scrollbar-thumb {
    @apply bg-primary-200 rounded;
}

.scrollbar-default::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-400;
}
